<ul>
    <li>Competency:<br />
        <a href="{{ node['networq:competency:level']['competency']|nodePath}}">
            {{ node['networq:competency:level']['competency']['networq:core:node']['name'] }}
        </a>
    </li>
</ul>